<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">User Uploads
      <small></small>
    </h1>
    {{#each items}}
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x150" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>{{this.name}}</h3>
        <a class="btn btn-success PlayButton" backup=MIDIjs.play("/midi/{{this.filename}}") onClick=MIDIjs.play("/midi/{{this.filename}}")>Play</a>
        <p>{{this.desc}}</p>
      </div>
    </div>
    <hr>
    {{/each}}

    <hr>
</div>
<script>
  $('.PlayButton').on('click', function(){
    var buttons = document.getElementsByClassName('PlayButton');
    for(var i = 0; i<buttons.length;i++){
      if(buttons[i].classList.contains("stopped")){
        buttons[i].classList.remove("stopped");
        buttons[i].classList.remove("btn-danger");
        buttons[i].classList.add('btn-primary');
        buttons[i].textContent = "Play";
        buttons[i].setAttribute('onclick', buttons[i].getAttribute('backup'));
      }
      else {
        buttons[i].textContent = "Stop";
        buttons[i].setAttribute('onclick', 'MIDIjs.stop()');
        buttons[i].classList.add('stopped');
        buttons[i].classList.remove("btn-primary");
        buttons[i].classList.add('btn-danger');
      }
    }
  });
</script>
    